<div class="videos">
  <div class="videos-container">
    <div class="video">
      <div class="title">
        <h5 class="title-text">{{ videos }}</h5>
      </div>
      <div class="inner-video">
        @for(thumbs of movieData; track i; let i = $index){
        <div
          class="thumb"
          [style.backgroundImage]="
            'linear-gradient(180deg,
        rgba(244, 227, 207, 0),
        rgba(54, 65, 76, 0.8)), url(https://image.tmdb.org/t/p/w1280/' +
            thumbs.backdrop_path +
            ')'
          "
        >
          <div class="thumb-footer">
            <h3 class="thumb-title">
              {{ thumbs.original_title }}
            </h3>
            <div class="genre">
              @for(genre_ids of thumbs.genre_ids; track j; let j = $index){
              @for(genre of movieGenre; track k; let k = $index){ @if(genre_ids
              == genre.id){

              <span class="genre-tag">
                {{ genre.name }}
              </span>

              } } }
            </div>
            <div class="overview">
              {{ thumbs.overview }}
            </div>
          </div>
        </div>
        }

        <div class="child">
          @for(child1 of movieChild; track i; let i = $index){

          <div
            class="child-item"
            [style.backgroundImage]="
              'url(https://image.tmdb.org/t/p/w1280/' +
              child1.backdrop_path +
              ')'
            "
          >
            <div class="thumb-footer">
              <h5 class="thumb-title">
                {{ child1.original_title }}
              </h5>
              <div class="genre">
                @for(genre_ids of child1.genre_ids; track j; let j = $index){
                @for(genre of movieGenre; track k; let k = $index){
                @if(genre_ids == genre.id){

                <span class="genre-tag">
                  {{ genre.name }}
                </span>

                } } }
              </div>
            </div>
          </div>
          }
        </div>
        <div class="child2">
          @for(child2 of movieChild2; track i; let i = $index){

          <div
            class="child-item"
            [style.backgroundImage]="
              'url(https://image.tmdb.org/t/p/w1280/' +
              child2.backdrop_path +
              ')'
            "
          >
            <div class="thumb-footer">
              <h5 class="thumb-title">
                {{ child2.original_title }}
              </h5>
              <div class="genre">
                @for(genre_ids of child2.genre_ids; track j; let j = $index){
                @for(genre of movieGenre; track k; let k = $index){
                @if(genre_ids == genre.id){

                <span class="genre-tag">
                  {{ genre.name }}
                </span>

                } } }
              </div>
            </div>
          </div>
          }
          <div class="child-item empty">
            <i class="bi bi-plus"></i>
            <div class="empty-text">
              <span>add new video</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="title">
        <h5 class="title-text">{{ list }}</h5>
      </div>
      <div class="inner-list">
        @for( people of peopleList; track people.id; let i = $index){

        <div class="list-item">
          <div class="item-image">
            <img
              src="https://image.tmdb.org/t/p/w500/{{ people.profile_path }}"
              alt=""
            />
          </div>
          <div class="item-info">
            <div class="info-item">
              {{ people.name }}
              <span>{{ people.gender == "male" ? "♂" : "♀" }}</span>
            </div>
            <div class="info-item">{{ people.known_for_department }}</div>
            <div class="info-item">
              <span>
                <i class="bi bi-star-fill"></i>
              </span>
              {{ people.popularity }}
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
