@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "color", "media", "typo";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  background: $background;
  color: $white;
}
