@import "../menu.component.scss";

.menus-item {
  &::after {
    content: "/";
    margin: 0 8px;
    font-size: 16px;
    color: $white;
  }

  &.last {
    &::after {
      content: none;
    }
  }

  .item-button {
    min-height: 40px;

    padding: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $white;
    font-size: 15px;
    text-transform: capitalize;
  }

  &.footer-menu-item {
    .item-button {
      font-size: 12px;
      padding: 4px;
    }
  }

  @include media(tablet) {
    font-size: 12px;

    &::after {
      font-size: 12px;
    }

    .item-button {
      padding: 4px;
    }
  }
}
